<!DOCTYPE html>
<html lang="en">
  {% load static %} {% include "apps/partials/header.html" %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  />
  <body id="page-top">
    {% load static crispy_forms_tags %}
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {% comment %} {% include "apps/partials/sidebar.html" %} {% endcomment %}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {% include 'apps/partials/guest_navbar.html' %}
          <section class="hero bg-primary text-white text-center py-5">
            <div class="container my-5 py-5">
              <div class="display-4">
                <strong>Welcome to 21 Batam Nest</strong>
              </div>
              <p class="lead">
                Website made for managing invoice and predicting products.
              </p>
              <a href="#learnmore" class="btn btn-lg btn-light">Learn More</a>
            </div>
          </section>

          <!-- Begin Page Content -->
          <section class="features py-5">
            <div class="container my-5 py-3">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="feature-box p-4">
                    <i class="fas fa-file-alt fa-5x text-primary mb-3"></i>
                    <h3>Invoice Management</h3>
                    <p>
                      Simplify billing process with invoice management system.
                      Easily create, send, and track invoices, ensuring tracked
                      records.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="feature-box p-4">
                    <i class="fas fa-boxes fa-5x text-primary mb-3"></i>
                    <h3>Product Listing</h3>
                    <p>
                      Showcase products effectively with comprehensive product
                      listing tools. Organize, and display the inventory.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="feature-box p-4">
                    <i class="fas fa-brain fa-5x text-primary mb-3"></i>
                    <h3>Prediction</h3>
                    <p>
                      Utilize analytics to predict trends and make informed
                      decisions. The prediction tools help to anticipate product
                      demands so we can optimize inventory, and drive business
                      growth.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="cta bg-dark text-white text-center py-5">
            <div class="container">
              <h2>Try Our Prediction Features!</h2>
              <p>Use the Feature Right Now and Then!</p>
            </div>
          </section>
          <section class="cta bg-dark text-white py-5">
            <div class="container">
              <div class="card-body">
                <div class="container">
                  <h1>Product Demand Prediction</h1>
                  <form id="predictionForm" method="post">
                    {% csrf_token %} {% crispy form %}
                    <button
                      type="button"
                      class="btn btn-primary"
                      onclick="makePrediction()"
                    >
                      Predict
                    </button>
                  </form>
                  <hr />
                  <h2 class="mt-5">Prediction Result:</h2>
                  <ul id="predictionResult"></ul>
                </div>
              </div>
            </div>
          </section>

          <section class="features py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="feature-box p-4"></div>
                </div>
                <div class="col-md-4 text-center" id="learnmore">
                  <div class="feature-box p-4">
                    <i class="fas fa-phone fa-5x text-primary mb-3"></i>
                    <h3>Contact Out Team <strong>EDA</strong></h3>
                    <p>
                      Atnan Ari Anderson, Rayson Wijaya, Wira Erlangga Pratama,
                      Kelvin, Ihsan Havin
                    </p>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                  <div class="feature-box p-4"></div>
                </div>
              </div>
            </div>
          </section>
          <!-- Area Chart -->
        </div>
        {% include "apps/partials/footer.html" %}
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->

      <!-- End of Footer -->

      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include "apps/partials/loginmodal.html"%}

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr("#date-input", {
        dateFormat: "d/m/Y", // Set the date format to dd/mm/yyyy
      });
    </script>
    <script>
      function makePrediction() {
        console.log("Making prediction...");
        const formData = new FormData(
          document.getElementById("predictionForm")
        );
        const features = {
          event: formData.get("event"),
          date: formData.get("date"),
        };

        fetch("/predict/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(features),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Received prediction data from backend:", data);
            console.log("Type of data:", typeof data);

            // Assuming the predictions are inside a key in the object
            const predictions = data.prediction_result; // Adjust based on the actual structure
            console.log("Predictions:", predictions);
            console.log("Type of predictions:", typeof predictions);
            console.log("Predictions isArray:", Array.isArray(predictions));
            console.log("Predictions length:", predictions.length);

            // Clear previous results
            const predictionResultContainer =
              document.getElementById("predictionResult");
            predictionResultContainer.innerHTML = "";

            // Iterate over the array and display each prediction
            for (let i = 0; i < predictions.length; i++) {
              const prediction = predictions[i];
              const listItem = document.createElement("li");
              listItem.textContent = `Item: ${prediction.Item}, Predicted Demand: ${prediction.Predicted_Demand}`;
              predictionResultContainer.appendChild(listItem);
              console.log("Logging prediction item:", prediction.Item);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
    {%include "apps/partials/script.html"%}
  </body>
</html>
