<!DOCTYPE html>
<html lang="en">
  {% load static %} {% include "apps/partials/header.html" %}
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      {% include "apps/partials/sidebar.html" %}
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {% include 'apps/partials/navbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              {% comment %}
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
              >
              {% endcomment %}
            </div>

            <!-- Content Row -->

            <div class="card-body">
              <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-5 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Sales Per Product
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <canvas id="salesPerProductChart"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-5 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Sales Per Event
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <canvas id="salesPerEventChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-5 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Sales Per Customer
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <canvas id="salesPerCustomerChart"></canvas>
                    </div>
                  </div>
                </div>

                <div class="col-xl-5 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Sales Per Customer
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <canvas id="salesPerDateChart"></canvas>
                    </div>
                  </div>
                </div>
                <!-- Pie Chart -->
              </div>

              <div class="row">
                <div class="col-xl-5 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Payment Method Usage
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <canvas
                                class="mb-1"
                                id="paymentMethodUsageChart"
                              ></canvas>
                            </td>
                            <td>
                              <div class="ml-5">
                                {% for p in payment %}
                                <p>{{p.id}} : {{ p.payment_method }}</p>

                                {% endfor %}
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                      <h6 class="m-0 font-weight-bold text-primary">
                        Project Information
                      </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <p><strong>Kelompok 10 -- 21 Batam Nest</strong></p>

                      <ul>
                        Kelvin
                      </ul>
                      <ul>
                        Rayson Wijaya
                      </ul>
                      <ul>
                        Wira Erlangga ulratama
                      </ul>
                      <ul>
                        Ihsan Havin
                      </ul>
                      <ul>
                        Atnan Ari Anderson
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Area Chart -->
            </div>
          </div>

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include "apps/partials/footer.html" %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include "apps/partials/logout.html"%}

    <!-- Bootstrap core JavaScript-->
    <script>
      // Sales per Product Chart
      const salesPerProductCtx = document.getElementById('salesPerProductChart').getContext('2d');
      const salesPerProductData = {{ context.sales_per_product|safe}};
      new Chart(salesPerProductCtx, {
          type: 'bar',
          data: {
              labels: salesPerProductData.labels,
              datasets: [{
                  label: 'Total Sales',
                  data: salesPerProductData.data,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      // Sales per Event Chart
      const salesPerEventCtx = document.getElementById('salesPerEventChart').getContext('2d');
      const salesPerEventData = {{context.sales_per_event|safe }};
      new Chart(salesPerEventCtx, {
          type: 'bar',
          data: {
              labels: salesPerEventData.labels,
              datasets: [{
                  label: 'Total Sales',
                  data: salesPerEventData.data,
                  backgroundColor: 'rgba(153, 102, 255, 0.2)',
                  borderColor: 'rgba(153, 102, 255, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      // Sales per Customer Chart
      const salesPerCustomerCtx = document.getElementById('salesPerCustomerChart').getContext('2d');
      const salesPerCustomerData = {{ context.sales_per_customer|safe }};
      new Chart(salesPerCustomerCtx, {
          type: 'bar',
          data: {
              labels: salesPerCustomerData.labels,
              datasets: [{
                  label: 'Total Sales',
                  data: salesPerCustomerData.data,
                  backgroundColor: 'rgba(255, 159, 64, 0.2)',
                  borderColor: 'rgba(255, 159, 64, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });

      // Payment Method Usage Chart
      const paymentMethodUsageCtx = document.getElementById('paymentMethodUsageChart').getContext('2d');
      const paymentMethodUsageData = {{ context.payment_method_usage|safe }};

      new Chart(paymentMethodUsageCtx, {
          type: 'pie',
          data: {
              labels: paymentMethodUsageData.labels,
              datasets: [{
                  label: 'Count',
                  data: paymentMethodUsageData.data,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          }
      });

      // Sales per Date Chart
      const salesPerDateCtx = document.getElementById('salesPerDateChart').getContext('2d');
      const salesPerDateData = {{ context.sales_per_date|safe }};
      new Chart(salesPerDateCtx, {
          type: 'line',
          data: {
              labels: salesPerDateData.labels,
              datasets: [{
                  label: 'Total Sales',
                  data: salesPerDateData.data,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1,
                  fill: false,
                  tension: 0.1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
    {%include "apps/partials/script.html"%}
  </body>
</html>
