{% load static %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>21 Batam Nest</title>
  <link rel="icon" href="{% static "apps/img/logo.png" %}" type="image/icon
  type" />

  <!-- Custom fonts for this template-->
  <link
    href="{% static 'apps/vendor/fontawesome-free/css/all.min.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet"
  />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Custom styles for this template-->
  <link
    href="{% static 'apps/css/sb-admin-2.min.css' %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{% static 'apps/css/sb-admin-2.css' %}"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
    rel="stylesheet"
  />

  <script src="{%static 'apps/js/data-table.js'%}"></script>
</head>
