<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-10">
      <i class="fas fa-bold"></i>
    </div>
    <div class="sidebar-brand-text ml-3">21 Batam Nest</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard check active path -->

  {% if request.active_path == 'dashboard'%}
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-chart-bar"></i>
      <span>Dashboard</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-chart-bar"></i>
      <span>Dashboard</span></a
    >
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
  </li>

  {% if request.active_path == 'product'%}
  <li class="nav-item active">
    <a class="nav-link" href="/product">
      <i class="fas fa-box"></i>
      <span>Product</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/product">
      <i class="fas fa-box"></i>
      <span>Product</span></a
    >
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
  </li>

  {% if request.active_path == 'event'%}
  <li class="nav-item active">
    <a class="nav-link" href="/event">
      <i class="far fa-calendar-alt"></i>
      <span>Event</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/event">
      <i class="far fa-calendar-alt"></i>
      <span>Event</span></a
    >
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
  </li>

  {% if request.active_path == 'invoice'%}
  <li class="nav-item active">
    <a class="nav-link" href="/invoice">
      <i class="fas fa-cart-plus"></i>
      <span>Invoice</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/invoice">
      <i class="fas fa-cart-plus"></i>
      <span>Invoice</span></a
    >
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
  </li>

  {% if request.active_path == 'payment'%}
  <li class="nav-item active">
    <a class="nav-link" href="/payment">
      <i class="fab fa-cc-visa"></i>
      <span>Payment</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/payment">
      <i class="fab fa-cc-visa"></i>
      <span>Payment</span></a
    >
    {% endif %} {% if request.active_path == 'prediction'%}
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/prediction">
      <i class="fa fa-random"></i>
      <span>Predict</span></a
    >
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/prediction">
      <i class="fa fa-random"></i>
      <span>Predict</span></a
    >
    {% endif %}

    <!-- Nav Item - Pages Collapse Menu -->
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
</ul>
